<div class="dashboard-container">
  <aside class="sidebar">
    <!-- <h2>Code Craft</h2> -->
      <img src="assets/code-craft-logo.png" alt="Code Craft">
    <nav>
      <ul>
        <li><a href="#" [class.active]="selectedTab === 'openai'" (click)="selectTab('openai')">OpenAI</a></li>
        <li><a href="#" [class.active]="selectedTab === 'perplexity'" (click)="selectTab('mcp')">MCP</a></li>
        <li><a href="#" [class.active]="selectedTab === 'llmmcp'" (click)="selectTab('llmmcp')">LLM + MCP</a></li>
        <li><a href="#" [class.active]="selectedTab === 'gemini'" (click)="selectTab('gemini')">Google gemini</a></li>
        <li><a href="#" [class.active]="selectedTab === 'claude'" (click)="selectTab('claude')">Claude</a></li>
        <li><a href="#" [class.active]="selectedTab === 'perplexity'" (click)="selectTab('perplexity')">Perplexity</a></li>
        <li><a href="#" [class.active]="selectedTab === 'about'" (click)="selectTab('about')">About</a></li>
      </ul>
    </nav>
  </aside>

  <main class="main-content" *ngIf="selectedTab === 'openai'">
    <header>
      <h5>OpenAI</h5>
    </header>

    <!-- <section class="cards">
      <div class="card">
        <h3>OpenAI</h3>
        <p>4</p>
      </div>
      <div class="card">
        <h3>Tensorflow</h3>
        <p>0</p>
      </div>
      <div class="card">
        <h3>Hugging Face</h3>
        <p>0</p>
      </div>
    </section> -->

    <section class="charts cards">
      <div class="chart card">
        <h6>Chatbot with OpenAI</h6>
         <app-chatbot></app-chatbot>
      </div>
      <div class="chart card">
        <h6>Generate Image with OpenAI</h6>
         <app-image-generate></app-image-generate>
      </div>
    </section>

    <section class="charts cards">
      <div class="chart card">
        <h6>Voice Recognition with OpenAI</h6>
         <app-voice-recognition></app-voice-recognition>
      </div>
      <div class="chart card">
        <h6>Conversation with OpenAI</h6>
         <app-video-gen></app-video-gen>
      </div>
    </section>

    <section class="charts cards">
      <div class="chart card">
        <h6>Conversation with OpenAI</h6>
         <app-ai-conversation></app-ai-conversation>
      </div>
    </section>
  </main>

<!-- Google gemini -->
  <main class="main-content" *ngIf="selectedTab === 'gemini'">
    <header>
      <h5>Google gemini</h5>
    </header>

     <section class="charts cards">
      <div class="chart card">
        <h6>Chatbot with Google gemini</h6>
        <app-gemini-chatbot></app-gemini-chatbot>
      </div>
    </section>
  </main>


<!-- Claude -->
  <main class="main-content" *ngIf="selectedTab === 'claude'">
    <header>
      <h5>Claude</h5>
    </header>

     <section class="charts cards">
      <div class="chart card">
        <h6>Chatbot with Claude</h6>
        <app-claude-chatbot></app-claude-chatbot>
      </div>
    </section>
  </main>


<!-- Perplexity -->
  <main class="main-content" *ngIf="selectedTab === 'perplexity'">
    <header>
      <h5>Perplexity</h5>
    </header>

     <section class="charts cards">
      <div class="chart card">
        <h6>Chatbot with Perplexity</h6>
        <app-perplexity-chatbot></app-perplexity-chatbot>
      </div>
    </section>
  </main>

<!-- MCP -->
  <main class="main-content" *ngIf="selectedTab === 'mcp'">
    <header>
      <h5>MCP</h5>
    </header>

     <section class="charts cards">
      <div class="chart card">
        <h6>Chatbot with MCP</h6>
        <app-mcp-chat></app-mcp-chat>
      </div>
    </section>
  </main>

  <!-- MCP -->
  <main class="main-content" *ngIf="selectedTab === 'llmmcp'">
    <header>
      <h5>LLM Agent with MCP</h5>
    </header>

     <section class="charts cards">
      <div class="chart card">
        <h6>LLM Agent with MCP</h6>
        <app-llm-mcp></app-llm-mcp>
      </div>
    </section>
  </main>


  <!-- About -->
  <main class="main-content" *ngIf="selectedTab === 'about'">
    <header>
      <h5>About</h5>
    </header>
    <div class="profile-container">
      <div class="profile-card">
        <img [src]="profile.photoUrl" alt="Profile Photo" class="profile-photo">
          <h2>{{ profile.name }}</h2>
            <p class="designation">{{ profile.designation }}</p>
              <div class="contact-info">
                <p>
                  <a *ngIf="profile.phone" [href]="profile.phone" target="_blank">
                    <img src="assets/phone.png" alt="Phone" class="icon">
                  </a>
                    <a [href]="'tel:' + profile.phone">{{ profile.phone }}</a>
                </p>
                <p>
                  <a *ngIf="profile.gmail" [href]="profile.gmail" target="_blank">
                    <img src="assets/gmail.png" alt="Gmail" class="icon">
                  </a>
                    <a [href]="'mailto:' + profile.gmail">{{ profile.gmail }}</a>
                </p>
                <p>
                  <a *ngIf="profile.mail" [href]="profile.mail" target="_blank">
                    <img src="assets/mail.png" alt="Mail" class="icon">
                  </a>
                    <a [href]="'mailto:' + profile.mail">{{ profile.mail }}</a>
                </p>
              </div>
            <div class="social-links">
              <a *ngIf="profile.linkedin" [href]="profile.linkedin" target="_blank">
                <img src="assets/linkedin.png" alt="LinkedIn" class="icon">
              </a>
              <a *ngIf="profile.github" [href]="profile.github" target="_blank">
                <img src="assets/github.png" alt="GitHub" class="icon">
              </a>
            </div>
      </div>
    </div>
  </main>
</div>